@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

@media screen and (max-width: 600px) { /* Smartphone e Pequenas Telas*/

    header {
        padding: 15px;
    }

    header div {
        display: block;
        text-align: center;
        margin: 8px;
    }

    header div#icons {
        margin-top: 15px;
    }

    section#top {
        width: 100%;
        z-index: 0;
    }

    section#top p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 0.9em;
    }

    section#top div#text {
        max-width: 400px;
        padding: 70px 20px 50px 20px;
        margin: 0 auto;
    }

    section#top img {
        max-width: 100%;
        mix-blend-mode: multiply;
    }

    section#top #image {
        background-color: #f7f7f7;
    }

    section#lang {
        margin-bottom: 20px;
        margin-top: -4px;
    }

    section#lang img {
        width:80px;
    }

    section#projects div.card {
        display: block;
        margin: 30px auto;
    }

}

@media screen and (min-width:601px) { /* Tablet, Desktop e Grandes Telas */
    header {
        padding: 30px 40px;
    }

    header div {
        display: inline-block;
    }

    section#top div#text {
        padding: 20px 0 20px 20px;
    }

    header div#icons {
        float:right;
    }

    section#top {
        margin: 0 auto;
    }

    section#top div#text {
        display: inline-block;
        vertical-align: middle;
    }

    section#top #image {
        display: inline-block;
        vertical-align: middle;
    }

    section#lang {
        margin: 20px 0;
    }

    section#lang img {
        width:90px;
    }

    section#top img {
        border-radius: 50%;
        margin: 30px 0 30px 30px;
    }
}

@media screen and (min-width:601px) and (max-width:992px) { /* Tablet */
    section#top {
        min-width: 450px;
        max-width: 700px;
    }

    section#top div#text {
        width: 50%;
        padding-right: 20px;
    }
    
    section#top #image {
        width: 49%;
    }

    section#top img {
        width: 270px;
    }
}



@media screen and (min-width:992px) { /* Desktop */
    section#top {
        width: 900px;
    }

    section#top div#text {
        width: 55%;
        padding-right: 50px;
    }
    
    section#top #image {
        width: 44%;
    }

    section#top img {
        width: 300px;
    }
}

@media screen and (min-width: 1150px) { /* Grandes Telas */
    div.double {
        display: inline-block;
    }
}